<!DOCTYPE html>
<html>
    <title>
        Home
    </title>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/h.css') }}">
        

        <h1> Calci</h1>
    </head>
    <body>
        <p1 align="center"><a href=CALCULATOR ><button id="btn">Calculator</button></a></p1>
        <p1 align="center"><a href=BMI ><button id="btn">BMI</button></a></p1>
        <p1 align="center"><a href=EMI ><button id="btn">EMI</button></a></p1>
        <p1 align="center"><a href=INTEREST ><button id="btn">Interest</button></a></p1>
        <p1 align="center"><a href=PERCENTAGE ><button id="btn">Percentage</button></a></p1>
        <p1 align="center"><a href=TEMPERATURE ><button id="btn">Temperature</button></a></p1>
        
    </body>
</html>